apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
kind: RKE2ConfigTemplate
metadata:
  labels:
    cluster.x-k8s.io/cluster-name: rke2-proxmox
  name: rke2-proxmox-worker
  namespace: default
spec:
  template:
    spec:
      agentConfig:
        kubelet:
          extraArgs:
            - provider-id=proxmox://'{{ ds.meta_data.instance_id }}'
